:root{
    --button: rgb(54, 113, 223);
    --background: rgb(207, 126, 73);
    }
    
    body{
        font-family: 'Rock Salt', cursive;
        background-color: var(--background);
        color: black;
    }